{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, noarchive">
<meta name="format-detection" content="telephone=no">
<title>{{ title }}</title>

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
<link href="{% static 'css/normalize.css' %}" rel="stylesheet">
<link href="{% static 'css/reset.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/slick.css' %}" rel="stylesheet">
<link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
<link href="{% static 'css/fresco.css' %}" rel="stylesheet">
<link href="{% static 'css/aos.css' %}" rel="stylesheet">