@font-face {
    font-family: 'AmeriGarmnd BT';
    src: url('fonts/AmericanGaramondBT-Roman.woff2') format('woff2'),
        url('fonts/AmericanGaramondBT-Roman.woff') format('woff'),
        url('fonts/AmericanGaramondBT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artifakt Element';
    src: url('fonts/ArtifaktElement-Regular.woff2') format('woff2'),
        url('fonts/ArtifaktElement-Regular.woff') format('woff'),
        url('fonts/ArtifaktElement-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Bold.eot');
    src: url('fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('fonts/JosefinSans-Bold.woff') format('woff'),
        url('fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans.eot');
    src: url('fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans.woff2') format('woff2'),
        url('fonts/JosefinSans.woff') format('woff'),
        url('fonts/JosefinSans.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-BoldItalic.eot');
    src: url('fonts/JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-BoldItalic.woff') format('woff'),
        url('fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Light.eot');
    src: url('fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-Light.woff2') format('woff2'),
        url('fonts/JosefinSans-Light.woff') format('woff'),
        url('fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-LightItalic.eot');
    src: url('fonts/JosefinSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-LightItalic.woff') format('woff'),
        url('fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans_1.eot');
    src: url('fonts/JosefinSans_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans_1.woff2') format('woff2'),
        url('fonts/JosefinSans_1.woff') format('woff'),
        url('fonts/JosefinSans_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-SemiBold.eot');
    src: url('fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-SemiBold_1.eot');
    src: url('fonts/JosefinSans-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-SemiBold_1.woff2') format('woff2'),
        url('fonts/JosefinSans-SemiBold_1.woff') format('woff'),
        url('fonts/JosefinSans-SemiBold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Thin.eot');
    src: url('fonts/JosefinSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('fonts/JosefinSans-Thin.woff') format('woff'),
        url('fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Thin_1.eot');
    src: url('fonts/JosefinSans-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/JosefinSans-Thin_1.woff2') format('woff2'),
        url('fonts/JosefinSans-Thin_1.woff') format('woff'),
        url('fonts/JosefinSans-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Black.eot');
    src: url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Black.woff2') format('woff2'),
        url('fonts/Montserrat-Black.woff') format('woff'),
        url('fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-BlackItalic.eot');
    src: url('fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-BoldItalic.eot');
    src: url('fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBold.eot');
    src: url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.eot');
    src: url('fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLightItalic.eot');
    src: url('fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff2') format('woff2'),
        url('fonts/Montserrat-Italic.woff') format('woff'),
        url('fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Light.woff2') format('woff2'),
        url('fonts/Montserrat-Light.woff') format('woff'),
        url('fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-LightItalic.eot');
    src: url('fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('fonts/Montserrat-LightItalic.woff') format('woff'),
        url('fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-MediumItalic.eot');
    src: url('fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff'),
        url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBoldItalic.eot');
    src: url('fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Thin.eot');
    src: url('fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Thin.woff2') format('woff2'),
        url('fonts/Montserrat-Thin.woff') format('woff'),
        url('fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ThinItalic.eot');
    src: url('fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}