{% extends 'base/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <section>
        <div class="banner-section properties-for" data-aos="zoom-out">
            <h1 class="prop-heading">Properties for You</h1>
        </div>
    </section>
    <section>
        <div class="excwrapper properties">
            <div class="container-fluid">
                <div class="row">
                    {% if builders %}
                        {% for build in builders %}
                            <div class="exclusive-collect">
                                <div class="exculsive-heading" data-aos="zoom-out">{{ build.builder_name }}</div>
                                <div class="exc-collec-main">
                                    {% for p in build.builder_properties.all|slice:2 %}
                                            <div class="exc-content" data-aos="zoom-out">
                                                <img src="{% if p.property_image %}{{ p.property_image.url }}{% endif %}">
                                                <div class="exc-detail">
                                                    <div class="exc-h-name">{{ p.property_name }}<span>{{ p.property_location.location_name }}</span></div>
                                                    <div class="exc-price">{{ p.property_price }}<span class="text-capitalize">{{ p.property_type }}</span></div>
                                                    <div class="view-btn"><a href="{% url 'rportal:property_details' build.builder_slug p.property_slug  %}">View Details</a></div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </div>
                                <div class="exc-view-more secdrycolor"><a href="{% url 'rportal:builder_listed_properties' build.builder_slug  %}">View More</a></div>
                                <div class="godreg-icons"><img src="{% static 'images/godreg-icon.png' %}"></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="subscribe-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-contorl">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} w-25">
                                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form class="form-contorl row p-2" action="{% url 'rportal:news_letter' %}" method="POST">
                            {% csrf_token %}
                            <h3>&nbsp;Subscribe to News Letter :</h3>
                            <div class="input-subs" data-aos="zoom-out">
                                <input type="text" name="email" placeholder="Enter Your Email Adress">
                                <button type="submit" role="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}