{% extends 'base/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<section>
    <div class="banner-section project-banner" data-aos="zoom-out">
        <h1 class="prop-heading">Projects</h1>
    </div>
</section>

<section>
    <div class="project-wrapper">
        <div class="container-fluid">
            <div class="project-f-heading"
                 data-aos="zoom-out">{{ property_details.0.property_price }}<span>Onwards</span></div>
            <div class="project-s-heading"
                 data-aos="zoom-out">{{ property_details.0.property_name }}<span>{{ property_details.0.property_location.location_name }}</span>
            </div>
            <div class="project-content" data-aos="zoom-out">
                <p>{{ property_details.0.property_description|safe }}</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="procet-overview">
        <div class="container-fluid">
            <div class="overview-tab">
                <ul id="scrollpickerr" data-aos="zoom-out">
                    <li class="active"><a href="javascript:;" class="active" data-tab="Overview">Overview</a></li>
                    <li><a href="javascript:;" data-tab="floor-plans">Floor Plans</a></li>
                    <li><a href="javascript:;" data-tab="Area-pricing">Area & Pricing</a></li>
                    <li><a href="javascript:;" data-tab="Amenities"> Amenities </a></li>
                </ul>
            </div>
        </div>
        <div class="overview-content">
            <div class="overvie-sub active" id="Overview">
                <div class="overview-left">
                    {% for p_image in properties_images %}
                        <div class="overcie-slide">
                            <img src="{% if p_image.property_image %} {{ p_image.property_image.url }}{% endif %}"
                                 alt="{{ p_image.property_name.property_name }}" style="height: 569px">
                        </div>
                    {% endfor %}
                </div>
                <div class="overview-right">
                    <div class="overview-head">Overview</div>
                    <div class="overview-range">
                        <div class="overview-sub-t">Area Range</div>
                        <div class="overview-l">{{ property_details.0.property_area_sq_ft }}</div>
                    </div>

                    <div class="overview-range">
                        <div class="overview-sub-t">Base Price</div>
                        <div class="overview-l">{{ property_details.0.property_price }}</div>
                    </div>

                    <div class="overview-range">
                        <div class="overview-sub-t">Current Status</div>
                        <div class="overview-l">{{ property_details.0.property_construction }}</div>
                    </div>
                </div>
            </div>
            <div class="overvie-sub" id="floor-plans">
                <div class="overview-left">
                    {% for p_image in properties_images %}
                        <div class="overcie-slide">
                            <img src="{% if p_image.property_image %} {{ p_image.property_image.url }}{% endif %}"
                                 alt="{{ p_image.property_name.property_name }} " style="height: 569px">
                        </div>
                    {% endfor %}
                </div>
                <div class="overview-right">
                    <div class="overview-head">Floor Plans</div>
                    <div class="overview-range">
                        <div class="overview-sub-t">Area Range</div>
                        <div class="overview-l">{{ property_details.0.property_area_sq_ft }}</div>
                    </div>

                    <div class="overview-range">
                        <div class="overview-sub-t">Number of floor</div>
                        <div class="overview-l">{{ property_details.0.property_floor }}</div>
                    </div>

                    <div class="overview-range">
                        <div class="overview-sub-t">Base Price</div>
                        <div class="overview-l">{{ property_details.0.property_price }}</div>
                    </div>
                </div>
            </div>
            <div class="overvie-sub" id="Area-pricing">
                <div class="overview-left">
                    {% for p_image in properties_images %}
                        <div class="overcie-slide">
                            <img src="{% if p_image.property_image %} {{ p_image.property_image.url }}{% endif %}"
                                 alt="{{ p_image.property_name.property_name }}" style="height: 569px">
                        </div>
                    {% endfor %}
                </div>
                <div class="overview-right">
                    <div class="overview-head">Area & Pricing</div>
                    <div class="overview-range">
                        <div class="overview-sub-t">Area Range</div>
                        <div class="overview-l">{{ property_details.0.property_area_sq_ft }}</div>
                    </div>

                    <div class="overview-range">
                        <div class="overview-sub-t">Base Price</div>
                        <div class="overview-l">{{ property_details.0.property_price }}</div>
                    </div>
                </div>
            </div>
            <div class="overvie-sub" id="Amenities">
                <div class="overview-left">
                    {% for p_image in properties_images %}
                        <div class="overcie-slide">
                            <img src="{% if p_image.property_image %} {{ p_image.property_image.url }}{% endif %}"
                                 alt="{{ p_image.property_name.property_name }}" style="height: 569px">
                        </div>
                    {% endfor %}
                </div>
                <div class="overview-right">
                    <div class="overview-head">Ameneties</div>
                    <div class="overview-range">
                        <div class="overview-sub-t">Ameneties</div>
                        {% for a in property_details.0.property_amenities.all %}
                            <div class="overview-l">{{ a.amenities_name }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="excwrapper properties">
        <div class="container-fluid">
            <div class="row">
                <div class="exclusive-collect">
                    <div class="exculsive-heading" data-aos="zoom-out">Approved by Banks</div>
                    <div class="bank-deatil" data-aos="zoom-out">
                        <ul>
                            <li><a href="javascript:;"><img src="{% static 'images/hdfc-logo.jpg' %}"></a></li>
                            <li><a href="javascript:;"><img src="{% static 'images/bank-baroda.jpg' %}"></a></li>
                            <li><a href="javascript:;"><img src="{% static 'images/allhabad-logo.jpg' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="excwrapper properties">
        <div class="container-fluid">
            <div class="row">
                <div class="exclusive-collect">
                    <div class="exculsive-heading" data-aos="zoom-out">Related Projects</div>
                    <div class="exc-collec-main">
                        {% for p in property_list|slice:2 %}
                            <div class="exc-content" data-aos="zoom-out">
                                <img src="{% if p.property_image %}{{ p.property_image.url }}{% endif %}">
                                <div class="exc-detail">
                                    <div class="exc-h-name">{{ p.property_name }}<span>{{ p.property_location.location_name }}</span></div>
                                    <div class="exc-price">{{ p.property_price }}<span class="text-capitalize">{{ p.property_type }}</span></div>
                                    <div class="view-btn"><a href="{% url 'rportal:property_details' p.builder_type.builder_slug p.property_slug %}">View Details</a></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="subscribe-main">
        <div class="container-fluid">
            <div class="row">
                <div class="form-contorl" data-aos="zoom-out">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} w-25">
                                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form class="form-contorl row p-2" action="{% url 'rportal:news_letter' %}" method="POST">
                        {% csrf_token %}
                        <h3>&nbsp;Subscribe to News Letter :</h3>
                        <div class="input-subs">
                            <input type="text" name="email" placeholder="Enter Your Email Adress">
                            <button type="submit" role="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}